<%= link_to "Photos", photos_path,:class => "btn btn-primary backCls" %>
<%= link_to "users", users_path ,:class => "btn btn-primary backCls"%>
<h1 class= "navbar-text">Admin Dashboard</h1></br>
<p>Here displays admin related information.</p>
