<%= link_to "Back",users_path, :class => "btn btn-danger backCls" %>
<%= form_for @user,:as=>:user,:url=>{:controller=>"users",:action=>'create'},:method=>:post do |f| %>  
	<%= render partial: 'form',:locals=>{:f=>f} %>
	<div class="actions">
	<%= f.submit "Save",:class => "btn btn-primary" %>
	</div>	
<% end %>